*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fullsite{
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 60%;
}

header{
text-align: center;
}

.organizer > button{
    display: inline-block;
    font-size: large;
    margin-inline: 5px;
    padding: 5px;
}

header > h2{
    color: lime;
    padding: auto;
    margin-bottom: 1%;
}

#immagine{
    width: auto;
    height: 100px;
    
}

div > button{
    margin: 2px;
}

.organizer{
    background-color: lime;
    padding-block: 20px;
}

main{
    color: white;
}

body{
    height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > section{
    padding: 2%;
    font-size: large;
}

section > span{
    font-size: larger;
    font-weight: bold;
}

section > .check{
    margin-right: 5px;
}

.carica1{
    width: 50%;
    height: 20px;
    border-radius: 5px;
    background-color: sandybrown;
}

.carica2{
    width: 75%;
    height: 20px;
    border-radius: 5px;
    background-color: green;
}

.carica3{
    width: 30%;
    height: 20px;
    border-radius: 5px;
    background-color: brown;
}